@import '~antd/dist/antd.css';

@viewport {
  width: device-width;
}

@viewport {
  zoom: 0.75;
  min-zoom: 0.5;
  max-zoom: 0.9;
}

@font-face {
  font-family: "Dana-FaNum-Regular";
  src: url("../fonts/Dana-FaNum-Regular.ttf");
}

// CSS Resets
html {
  scroll-behavior: smooth;
  min-height: 100%;
  margin: 0;
  padding: 0;

  body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    font-size: 14px;
    background: transparent url('./../images/2314950.jpg') no-repeat center;

    &::after {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      content: '';
      background-color: rgba(0, 0, 0, 0.5);
      z-index: -1;
    }

    * {
      padding: 0;
      outline: none;
      font-size: 14px;
      font-family: "Dana-FaNum-Regular";
      position: relative;
    }
  }
}

body[dir="rtl"] {
  * {
    direction: rtl;
  }
}

//directions
.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

//spaces
.mb-1 {
  margin-bottom: 8px;
}

.mr-1 {
  margin-right: 8px;
}

.ml-1 {
  margin-left: 8px;
}

.mt-2 {
  margin-top: 16px !important;
}

.mt-1 {
  margin-top: 8px;
}

.mx-auto {
  margin: 0 auto;
}

//sizes
.w-100 {
  width: 100%;
}

//displays
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

//texts
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.bold {
  font-weight: bold;
}
.page-title{
  font-size: 16px !important;
}

.form-wrapper {
  text-align: right;

  input {
    width: 100%;
    border-radius: 3px;
  }

  .ant-form-item-label {
    padding: 0;
    direction: rtl;
    text-align: right;
  }

  .ant-input-group-addon {
    .ant-btn {
      border: 0;
      padding: 0;
      height: 30px;
    }
  }

  .bg-transparent {
    background-color: transparent;
  }
}

.component-switcher {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.ant-table{
  .ant-table-tbody{
    .ant-table-row:nth-child(even){
      background: #ffffff;
    }
    .ant-table-row:nth-child(odd){
      background: #f7f7f7;
    }
  }
}
.ant-tooltip-placement-bottom{
  .ant-tooltip-arrow {
    top:-22.071068px !important;
  }
}